@import url('https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap');

body{
    /* background-color: #e0e0e0; */
    background-image: url('../images/background3.jpg');
    background-size: cover;
}

/* main{
    padding: 0.5em 0;
} */

div.logo{
    padding: 0 5%;
}

div.logo img{
    width:15rem;
    height: auto;
}

div.logo h1{
    width:100%;
    text-align: center;
    font-family: 'Lexend Exa', sans-serif;
}


header.index{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:1em;
    /* margin-bottom: 15em; */
    height: 50%;
}

header.index section h1{
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bold;
}

header.index section h2{
    color: #ffffff;
    text-align: right;
    font-style: italic;
}

section.founder{
    display: flex;
    justify-content: center;
    background-color: #AA1111;
    padding: 3%;
}

section.founder div{
    display: flex;
    width:50rem;
}

section.founder div img{
    width:50%;
    height: auto;
    object-fit: cover;
}

section.founder div div.text{
    padding-left:2em;
    display: block;
    width: 50%;
}

section.founder div div.text h2{
    font-size: 3.5rem;
}

section.founder div div.text h3{
    font-size: 2.5rem;
}

section.founder div div.text p{
    font-size:1.25rem;
}

section.work-with-us{
    display:flex;
    flex-grow: 5;
    flex-shrink: 4;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    background-color: #EBEBEB;
    height: 10rem;
}

section.work-with-us h2{
    color: black;
    font-size: 2.5rem;
    margin:0;
}

section.work-with-us div.button{
    font-size: 1.5rem;
    height: 2.5em;
    background-color: black;
    color: white;
    padding: 0.75em;
    align-items: center;
    display: flex;
}

section.work-with-us div.button p{
    margin: 0;
}

section.work-with-us div.button:hover{
    background-color: #AA1111;
    cursor: pointer;
}

@media ( max-width: 900px ) {
    header.index{
        display: block;
    }
    div.logo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    section.work-with-us{
        display: block;
        text-align: center;
    }
    div.button p{
        width:100%;
        text-align: center;
    }
    div.button{
        margin:0 10%;
    }
}