*:focus{
    outline:none;
}

nav{
    /* background-color: #723881;  */
    padding:1em;
    border-radius: 0.5em;
    font-family: Georgia, serif;
}

nav ul{
    margin: 0;
    display: flex;
    list-style-type: none;
    padding:0;
    width:40em;
    justify-content: space-between;
}

nav ul li{
    /* border-radius: 0.5em; */
    padding:0.5em;
    /* border: 0.1em solid #ffffff; */
}

nav ul li:hover a, nav ul li a:focus{
    color:silver;
}

nav ul li a{
    text-decoration: none;
    font-size: 2em;
    color:#ffffff;
}