nav{
    background-color: #61f2f5;
    padding-right: 75em;
    border-radius: 0.5em;
    margin:0;
}

nav ul{
    list-style-type: none;
    display: flex;
    padding:1rem;
    font-size: 2em;
    justify-content: space-between;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
}